@font-face {
  font-family: 'WeblySleek';
  src: local('WeblySleek'),
    url('./fonts/WeblySleek/weblysleekuil.ttf') format('truetype');
}

@media only screen and (max-width: 600px) {
  #home-container {
    flex-direction: column;
    height: 200vh;
    width: 100vw;
  }

  #banner-container {
    height: 100%;
    width: 100%;
  }

  #aboutme-container {
    height: 100%;
    width: 100%;
  }

  #main-container {
    justify-content: center;
    height: 70%;
    width: 80%;
  }
}

@media only screen and (min-width: 600px) {
  #home-container {
    flex-direction: row;
    height: 100vh;
    width: 100vw;
  }

  #banner-container {
    height: 100%;
    width: 50%;
  }

  #aboutme-container {
    height: 100%;
    width: 50%;
  }

  #main-container {
    justify-content: flex-start;
    height: 40%;
    width: 50%;
  }
}

:root {
  font-size: 16px;
  font-family: WeblySleek, sans-serif;
  --bg-primary: #2c2d32;
  --bg-secondary: #585b62;
  --accent-color: #65c78c;
}

body {
  margin: 0;
  padding: 0;
}

.banner-icon {
  height: 1.5rem;
  padding: 0.5rem;
  background: var(--bg-primary);
  transition: background 400ms ease;
}

.banner-icon-alt {
  height: 1.5rem;
  padding: 0.5rem;
  background: var(--bg-secondary);
  transition: background 400ms ease;
}

.banner-icon:hover {
  background: var(--accent-color);
}

.banner-icon-alt:hover {
  background: var(--accent-color);
}

.muted-text {
  color: #a7a7a7;
}

span {
  color: black;
}

#home-container {
  display: flex;
  /* flex-direction: row; */
  /* height: 100vh;
  width: 100vw; */
}

#banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* height: 100%;
  width: 50%; */

  background: url('https://images.unsplash.com/photo-1479030160180-b1860951d696?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  color: white;
}

#color-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #3d3e43;
  opacity: 0.85;
}

#aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%;
  width: 50%; */
}

#main-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  /* height: 40%;
  width: 50%; */
}

#main-title {
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.875rem;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--bg-secondary);
  padding-bottom: 1rem;
  margin: 0;
}

#banner-tagline {
  z-index: 1;
  font-size: 1.3125rem;
  margin-bottom: 2.5rem;
}

#about-title {
  font-size: 2.2rem;
  letter-spacing: 1px;
  border-bottom: 2px solid #72cc95;
  padding-bottom: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

#account-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;

  width: 14rem;
}
