@font-face {
  font-family: 'WeblySleek';
  src: local('WeblySleek'),
    url('./fonts/WeblySleek/weblysleekuil.ttf') format('truetype');
}

:root {
  font-size: 16px;
  font-family: WeblySleek, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.875rem;
  letter-spacing: 1px;
  border-bottom: 2px solid #585b62;
  padding-bottom: 1rem;
  margin: 0;
}

p {
  font-size: 1.3125rem;
}

#home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;

  background-color: #3d3e42;
  color: white;
}
